.contactPage{
    background-color: #F6F6F6;
    min-height: 74vh;
}

.contactPageContent{
    min-height: inherit;
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.contentBox{
    width: 60%;
    height: 400px;
    background-color:#E0E0E0 ;
    display: flex;
    border-radius: 40px;
    padding: 30px 30px;
}

.contentForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    height: 340px;
  
}

.formContent{
    text-align: center;
}

.nameEmail{
    width: 75%;
    height: 30px;
    margin: 9px 0px 9px 0px;
    border-radius:10px;
    border: 1px solid #ECCCFF;
    background-color: #ECCCFF ;
    padding-left: 5px;
}

.textMessage{
    resize: none;
    width: 75%;
    margin: 9px 0px 9px 0px;
    border-radius:10px;
    border: 1px solid #ECCCFF;
    background-color: #ECCCFF;
    padding-left: 5px;
}

.submitButton{
    width: 5rem;
    height: 1.6rem;
    border-radius: 30px;
    border: none;
    background-color: #ECCCFF ;
}

.submitButton:hover{
    cursor: pointer;
    border: 1px solid white;
}

.contentLogoSocial{
    width: 50%;
    height: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}


.contentLogo{
    width: 70%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLogo{
    width: 220px;
    height: 220px;
 
}

.contentIcons{
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
   
}

.iconLink{
    text-decoration: inherit;
    color: inherit;
}

@media only screen and (max-width:1200px){
    .contentBox{
        width: 75%;
    }

    .contentLogo{
        width: 80%;
        
    }

    .contentIcons{
        width: 80%;
       
    }

}

@media only screen and (max-width:1000px){
    .contentLogo{
        width: 90%;
        
    }

    .contentIcons{
        width: 90%; 
    }

    .nameEmail{
        width: 84%;
        
    }

    .textMessage{
        width: 84%;
    }

}

@media only screen and (max-width:800px){
    .contentBox{
        width: 95%;
    }

    .nameEmail{
        width: 90%;
        
    }

    .textMessage{
        width: 90%;
    }

}

@media only screen and (max-width:760px){
    .contentBox{
       flex-direction: column;
       height: 430px;
    }

    .contentLogoSocial{
        width: 70%;
      
    }

    .contentLogo{
        display: none;
    }

    .contentForm{
        width: 70%;
       
    }

    .contentIcons{
        width: 100%;
        height: 45px;
    }
}


@media only screen and (max-width:600px){
    .contentLogoSocial{
        width: 90%;
      
    }

    .contentLogo{
        display: none;
    }

    .contentForm{
        width: 90%;
       
    }
}