@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@400&display=swap");

.home{
    width: 100%;
    background-color:  #f6f6f6;
    /* background-color:#F0ECE3 ; */
    font-family: 'Bebas Neue', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 75vh;
    
}

.projects{
    width:100%;
    max-width: 1330px;
    /* max-width: 1250px; */
    /* background-color:  #f6f6f6; */
    margin: 0 auto;
    padding: 2rem 0rem;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    min-height: 75vh;
}

@media only screen and (max-width:1048px)  {
    .projects{
        grid-template-columns: auto auto ;
    }
}


@media only screen and (max-width:720px)  {
    .projects{
        grid-template-columns: auto;
    }
}
