@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@400&display=swap");

.home{
    width: 100%;
    background-color: #F6F6F6;
    font-family: 'Bebas Neue', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 63vh;
    
}

.projects{
    width:80%;
    margin: 0rem 7rem; 
    padding: 2rem 0rem;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    min-height: 63vh;
}

@media only screen and (max-width:1100px)  {
    .projects{
        grid-template-columns: auto auto ;
    }
}


@media only screen and (max-width:700px)  {
    .projects{
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:460px)  {
    .projects{
        margin: 0rem 0rem;
        width: 100%;
        grid-template-columns: auto;
        justify-content: center;
    }
}