/* CSS for Google Charts' HTML tooltip (can't be formatted using options parameter) */
.google-visualization-tooltip text,
.google-visualization-tooltip span {
    font-size: 0.85rem !important;
}

.google-visualization-tooltip {
    width: unset !important;
    height: unset !important;
    border-radius: 0.25rem !important;
}

.Calendar .google-visualization-tooltip {
    padding: 0.5rem !important;
}

/* Invert iframe */
.dark .heat-map-iframe {
    filter: invert(0.848) hue-rotate(180deg);
}

.dark .google-visualization-table-tr-head {
    background-color: #000;
}

.dark .google-visualization-table-tr-even {
    background-color: #181819;
}

.dark .google-visualization-table-tr-odd {
    background-color: #232323;
}

/* Deactivate pointer event for class noPointerEvent (charts in home page) */
.noPointerEvent {
    pointer-events: none;
}