*{
    font-family: sans-serif !important;
}

.google-visualization-tooltip text, .google-visualization-tooltip span{
    font-size: 0.85rem !important;
}

.google-visualization-tooltip{
    width: unset !important;
    height: unset !important;
}

.Calendar .google-visualization-tooltip{
    padding: 0.5rem !important;
}

/* Make all texts in the graph white if in dark mode */
.dark-mode text{
    fill: #ffffff;
}

/* Invert tooltip background */
.dark-mode .google-visualization-tooltip path{
    fill: #121212;
}

/* Invert iframe */
.dark-mode .heat-map-iframe, .dark-mode .Table {
    filter: invert(0.9);
}

/* Deactivate pointer event in table chart */
.Table thead{
    pointer-events: none;
}