* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif !important;
  }

ul{
  margin-left: 2em;
}

#root{
  overflow-x: hidden;
}

.iconLink{
  color: gray;
}
.iconLink:hover{
  color: #57068c;
}

.noPointerEvent{
  pointer-events: none;
}