.navLink {
  cursor: pointer;
  color: black;
  margin: 0 1rem;
}

.navLink:hover {
  border-bottom: 3px solid #57068c;
  transition: all ease-in-out 100ms;
}
.active {
  border-bottom: 3px solid #57068c;
}
