.navLink {
  cursor: pointer;
  color: gray;
}

a {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline 3px #57068c;
  text-underline-offset: 4px;
  transition: all ease-in-out 500ms;
}
.active {
  text-decoration: underline 3px #57068c;
  text-underline-offset: 4px;
}
