.aboutPageContent{
    background-color: #F6F6F6;
    min-height: 74vh;

}
.aboutPage{
    min-height: inherit;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.aboutPageLogo{
    width: 30%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-items: center;
}

.citiesPic{
    width: 300px;
    height: 300px;
}

.aboutPageInfo{
    width: 70%;
    min-height: inherit;
    display: flex;
    align-items: center;
    padding: 15px 15px;
}

.infoText{
    width: 95%;
    min-height: inherit;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 0px -5px;
    padding: 20px 20px;
}

.aboutText{
    text-align: justify;
    margin-top: 10px;
}

@media only screen and (max-width:1020px) {
    .aboutPageLogo{
        display: none;
    }

    .aboutPageInfo{
        width: 100vw;
        padding: 15px 10px 15px 10px;
        height: inherit;
    }
}